header#gHeader.gHeader
  h1.gHeader-title=`${pageVars.title} - ${siteMeta.title}`
  nav
    ol.gHeader-menu
      li.gHeader-menuItem
        a(href=`${relativeRoot}`) Toppage
      li.gHeader-menuItem
        a(href=`${relativeRoot}about/`) About
