header#gHeader.gHeader
  .headerContainer
    h1.gHeader-title
      span.title PSBG Boilerplate
      span.caption - An all in one kit for tiny web development with Gulp/Git

  nav.gHeader-menu
    ol.menu
      li.menu-item
        a(href=`${relativeRoot}`) Toppage
      li.menu-item
        a(href=`${relativeRoot}about/`) Concepts
      li.menu-item
        a(href=`${relativeRoot}about/`) Functions
      li.menu-item
        a(href=`${relativeRoot}about/`) Build site
