@import 'kouto-swiss'
normalize()
ks-support-media-queries = true


@import 's-grid-settings'
@import 's-grid-functions'
// @import 's-grid-classes'

siteGreen = #99ecbe

* > *:first-child
  margin-top 0

* > *:last-child
  margin-bottom 0

.gHeader
  color #666
  min-height 10vh
  background siteGreen
  padding-top 10px
  &-title
    text-align center
    margin-bottom 10px
  &-menu
    display flex
    flex-flow row wrap
    &Item
      list-style-type none
      width calc('100% / 2')
      text-align center
      a
        color #fff
        text-decoration none
        background darken(siteGreen, 35%)
        display block
        padding-bottom 10px
        padding-top 10px
        width 100%
        height 100%
        &:hover
          background darken(siteGreen, 55%)
          transition background .3s ease

#main
  min-height 85vh
  position relative
  .inner
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
.gFooter
  min-height 5vh
  background #ddd
  position relative
  p
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
